@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    html {
        font-family: 'Roboto', sans-serif;
    }
}

*{
    scroll-behavior: smooth;
}


body {
    cursor: wait;
}


/* // menu btn styles  */

.menu-btn{
    height: 30px;
    width: 100px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.slider {
    position: relative;
    height: 100%;
        width: 100%;
}

.menu-btn .slider .el {
    height: 100%;
    width: 100%;
}

.menu-btn .slider .el p{
    color:white;
}

.menu-btn .slider .el p:nth-child(2) {
    color: white;
}

.menu-btn .slider .el:nth-child(2)
{
    top: 100%;
    background-color: rgb(136, 0, 255);
    color: white;
} 



.perspective-text{
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.75s cubic-bezier(0.76,0,0.24,1);
    transform-style: preserve-3d;
}

.menu-btn .slider .el:hover .perspective-text {
    transform: rotateX(90deg);
}

.menu-btn .slider .el:hover .perspective-text p:nth-child(1)
{
    transform: translateY(-100);
    opacity: 0;
}

.menu-btn .slider .el:hover .perspective-text p:nth-child(2)
{
    opacity: 2;
}

 .menu-btn .slider .el .perspective-text p{
    transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
 }

 .menu-btn .slider .el .perspective-text p:nth-child(2)
{
    position: absolute;
    transform: rotateX(-90deg) translateY(13px);
    transform-origin: bottom center;
    opacity: 0;
}
